<!DOCTYPE html>
<html lang="en-us" dir="ltr">
<head>
  {{ partial "head.html" . }}
</head>
<body id="body" class="{{ .Params.body_class }}">
  <header>
    <nav class="full">
      {{ with partial "res.html" "img/hege-logo.svg" }}
      <a href="/"><img width="134" height="34" src="{{ .RelPermalink }}" alt="HEGE" fetchpriority="high"></a>
      {{ end }}
      <ul>
        <li>
          <a href="/about/" title="Read all about Hege">About</a>
        </li>
        <li>
          <a href="/merch/" title="Shop in the Hege Merch Store">Merch</a>
        </li>
        <li>
          <a href="/blog/" title="Read the latest about Hege">Blog</a>
        </li>
        <li>
          <a href="/nfts/" title="Visit Hege's official NFT collection">Hegends NFTs</a>
        </li>
        <li>
          <span onclick="document.getElementById('nav-m').classList.toggle('open');">
            More
            <svg width="14" height="7" viewBox="0 0 14 7" fill="none">
              <path d="M13 1L7 5L1 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
            </svg></span>
          <div id="nav-m">
            <ul>
              <li class="item-nfts">
                <a href="/nfts/" title="Visit Hege's official NFT collection">
                  {{ with partial "res.html" "img/hegends.gif" }}
                  <img src="{{ .RelPermalink }}" width="350" height="350" loading="lazy"
                    alt="Colorful Heges from the Hegends NFT collection" />
                  {{ end }}
                  <span><strong>Hegends NFTs</strong> <em>Learn more about our NFT collection!</em>
                    <svg width="11" height="11" viewBox="0 0 11 11">
                      <path
                        d="M0.292893 9.29289C-0.0976311 9.68342 -0.0976311 10.3166 0.292893 10.7071C0.683418 11.0976 1.31658 11.0976 1.70711 10.7071L0.292893 9.29289ZM11 1C11 0.447715 10.5523 -3.74211e-07 10 4.72575e-08L1 -1.63477e-07C0.447715 -1.63477e-07 2.8711e-07 0.447715 2.8711e-07 1C2.8711e-07 1.55228 0.447715 2 1 2L9 2L9 10C9 10.5523 9.44772 11 10 11C10.5523 11 11 10.5523 11 10L11 1ZM1.70711 10.7071L10.7071 1.70711L9.29289 0.292893L0.292893 9.29289L1.70711 10.7071Z"
                        fill="currentColor" />
                    </svg>
                  </span>
                </a>
              </li>
              <li>
                <a href="/league-of-hegends/">
                  {{ with partial "res.html" "img/nav-loh-logo.avif" }}
                  <img src="{{ .RelPermalink }}" width="30" height="30" alt="A globe"
                    fetchpriority="low">
                  {{ end }}
                  <span><strong>League of Hegends</strong> <em>Meet our most valued community members</em></span>
                </a>
              </li>
              <li>
                <a href="https://t.me/Hegequarters" target="_blank">
                  {{ with partial "res.html" "img/telegram-logo.svg" }}
                  <img src="{{ .RelPermalink }}" width="30" height="30" alt="Telegram logo" fetchpriority="low">
                  {{ end }}
                  <span><strong>Telegram</strong> <em>Join the fun in our Hegequarters</em></span>
                </a>
              </li>
              <li>
                <a href="/testimonials">
                  {{ with partial "res.html" "img/nav-media-logo.svg" }}
                  <img src="{{ .RelPermalink }}" width="30" height="30" alt="Photograph icon"
                    fetchpriority="low">
                  {{ end }}
                  <span><strong>Media</strong> <em>What's being said about $HEGE</em></span>
                </a>
              </li>
              <li>
                <a href="https://dexscreener.com/solana/cjcu7cirhbhu4bdnplgaum1a6isp9ruhjmg36rjjrxnd" target="_blank">
                  {{ with partial "res.html" "img/nav-chart-logo.svg" }}
                  <img src="{{ .RelPermalink }}" width="30" height="30" alt="A bar chart icon"
                    fetchpriority="low">
                  {{ end }}
                  <span><strong>Price Chart</strong> <em>Track the $HEGE price by the second</em></span>
                </a>
              </li>
              <li>
                <a href="https://drip.haus/hegecoin" target="_blank">
                  {{ with partial "res.html" "img/nav-drip-logo.svg" }}
                  <img src="{{ .RelPermalink }}" width="30" height="30" alt="A drop"
                    fetchpriority="low">
                  {{ end }}
                  <span><strong>$HEGE on DRiP</strong> <em>Check out $HEGE on NFT platform DRiP</em></span>
                </a>
              </li>
              <li>
                <a href="https://www.reddit.com/r/HegeCoin/" target="_blank">
                  {{ with partial "res.html" "img/nav-reddit-logo.svg" }}
                  <img src="{{ .RelPermalink }}" width="30" height="30" alt="Reddit logo" fetchpriority="low">
                  {{ end }}
                  <span><strong>r/HegeCoin</strong> <em>Join over 1,200 Hegends on Reddit!</em></span>
                </a>
              </li>
              <li>
                <a href="/#faq">
                  {{ with partial "res.html" "img/nav-faq-logo.svg" }}
                  <img src="{{ .RelPermalink }}" width="30" height="30" alt="?"
                    fetchpriority="low">
                  {{ end }}
                  <span><strong>FAQs</strong> <em>Answers to frequently asked questions</em></span>
                </a>
              </li>
              <li>
                <a href="https://linktr.ee/hegefund" target="_blank">
                  {{ with partial "res.html" "img/nav-links-logo.svg" }}
                  <img src="{{ .RelPermalink }}" width="30" height="30" alt="Chain link"
                    fetchpriority="low">
                  {{ end }}
                  <span><strong>Links</strong> <em>All the links you need, in one place</em></span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="/#buy" class="btn">Buy $HEGE</a>
        </li>
      </ul>
      <p>
        <button aria-label="Toggle mobile menu" onclick="document.getElementById('nav-c').showModal()">
          <svg width="20" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="2" stroke-linejoin="round"
            stroke-linecap="round">
            <line x1="0" y1="3" x2="20" y2="3"></line>
            <line x1="0" y1="10" x2="20" y2="10"></line>
            <line x1="0" y1="17" x2="20" y2="17"></line>
          </svg>
        </button>
      </p>
    </nav>
    <dialog closedby="any" id="nav-c">
      <div>
        {{ with partial "res.html" "img/hege-logo.svg" }}
        <a href="/"><img width="134" height="34" src="{{ .RelPermalink }}" alt="HEGE"></a>
        {{ end }}
        <div>
          <button onclick="document.getElementById('nav-c').close()">
            <svg width="20" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">
              <line x1="0" y1="0" x2="20" y2="20"></line>
              <line x1="0" y1="20" x2="20" y2="0"></line>
            </svg>
          </button>
        </div>
      </div>
      <section>
        <a href="/nfts/" title="Learn more about our NFT collection!">
          {{ with partial "res.html" "img/hegends.gif" }}
          <img src="{{ .RelPermalink }}" width="350" height="350" loading="lazy"
            alt="Colorful Heges from the Hegends NFT collection" />
          {{ end }}
          <span><strong>Hegends NFTs</strong> Learn more about our NFT collection!
            <svg width="11" height="11" viewBox="0 0 11 11">
              <path
                d="M0.292893 9.29289C-0.0976311 9.68342 -0.0976311 10.3166 0.292893 10.7071C0.683418 11.0976 1.31658 11.0976 1.70711 10.7071L0.292893 9.29289ZM11 1C11 0.447715 10.5523 -3.74211e-07 10 4.72575e-08L1 -1.63477e-07C0.447715 -1.63477e-07 2.8711e-07 0.447715 2.8711e-07 1C2.8711e-07 1.55228 0.447715 2 1 2L9 2L9 10C9 10.5523 9.44772 11 10 11C10.5523 11 11 10.5523 11 10L11 1ZM1.70711 10.7071L10.7071 1.70711L9.29289 0.292893L0.292893 9.29289L1.70711 10.7071Z"
                fill="currentColor" />
            </svg>
          </span>
        </a>
        <ul>
          <li>
            <a href="/about/">
              {{ with partial "res.html" "img/nav-about-logo.svg" }}
              <img src="{{ .RelPermalink }}" width="30" height="30" alt="Hege"
                fetchpriority="low">
              {{ end }}
              <span><strong>About</strong> <em>Learn all about $HEGE</em></span>
            </a>
          </li>
          <li>
            <a href="https://shop.hegecoin.com" target="_blank">
              {{ with partial "res.html" "img/nav-merch-logo.svg" }}
              <img src="{{ .RelPermalink }}" width="30" height="30" alt="T-shit"
                fetchpriority="low">
              {{ end }}
              <span><strong>Merch</strong> <em>Rock some of our exclusive merch!</em></span>
            </a>
          </li>
          <li>
            <a href="/blog/">
              {{ with partial "res.html" "img/nav-blog-logo.svg" }}
              <img src="{{ .RelPermalink }}" width="30" height="30" alt="Newspaper article icon"
                fetchpriority="low">
              {{ end }}
              <span><strong>Blog</strong> <em>Read the latest about $HEGE</em></span>
            </a>
          </li>
          <li>
            <a href="/league-of-hegends/">
              {{ with partial "res.html" "img/nav-loh-logo.avif" }}
              <img src="{{ .RelPermalink }}" width="30" height="30" alt="Globe icon"
                fetchpriority="low">
              {{ end }}
              <span><strong>League of Hegends</strong> <em>Meet our most valued community members</em></span>
            </a>
          </li>
          <li>
            <a href="/testimonials/">
              {{ with partial "res.html" "img/nav-media-logo.svg" }}
              <img src="{{ .RelPermalink }}" width="30" height="30" alt="Photograph icon"
                fetchpriority="low">
              {{ end }}
              <span><strong>Media</strong> <em>What's being said about $HEGE</em></span>
            </a>
          </li>
          <li>
            <a href="https://dexscreener.com/solana/cjcu7cirhbhu4bdnplgaum1a6isp9ruhjmg36rjjrxnd" target="_blank">
              {{ with partial "res.html" "img/nav-chart-logo.svg" }}
              <img src="{{ .RelPermalink }}" width="30" height="30" alt="Bar chart icon"
                fetchpriority="low">
              {{ end }}
              <span><strong>Price Chart</strong> <em>Track the $HEGE price by the second</em></span>
            </a>
          </li>
          <li>
            <a href="https://drip.haus/hegecoin" target="_blank">
              {{ with partial "res.html" "img/nav-drip-logo.svg" }}
              <img src="{{ .RelPermalink }}" width="30" height="30" alt="Drop"
                fetchpriority="low">
              {{ end }}
              <span><strong>$HEGE on DRiP</strong> <em>Check out $HEGE on NFT platform DRiP</em></span>
            </a>
          </li>
          <li>
            <a href="https://www.reddit.com/r/HegeCoin/" target="_blank">
              {{ with partial "res.html" "img/nav-reddit-logo.svg" }}
              <img src="{{ .RelPermalink }}" width="30" height="30" alt="Reddit logo" fetchpriority="low">
              {{ end }}
              <span><strong>r/HegeCoin</strong> <em>Join over 1,200 Hegends on Reddit!</em></span>
            </a>
          </li>
          <li>
            <a href="/#faq">
              {{ with partial "res.html" "img/nav-faq-logo.svg" }}
              <img src="{{ .RelPermalink }}" width="30" height="30" alt="?"
                fetchpriority="low">
              {{ end }}
              <span><strong>FAQs</strong> <em>Answers to common questions</em></span>
            </a>
          </li>
          <li>
            <a href="https://linktr.ee/hegefund" target="_blank">
              {{ with partial "res.html" "img/nav-links-logo.svg" }}
              <img src="{{ .RelPermalink }}" width="30" height="30" alt="Chain link"
                fetchpriority="low">
              {{ end }}
              <span><strong>Links</strong> <em>All the links you need, in one place</em></span>
            </a>
          </li>
        </ul>
      </section>
    </dialog>
  </header>
  <main id="main">
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ with partial "res.html" "img/hege-logo.svg" }}
    <a href="/"><img width="134" height="34" src="{{ .RelPermalink }}" alt="HEGE"></a>
    {{ end }}
    <ul>
      <li>
        {{ with partial "res.html" "img/x-logo.svg" }}
        <a href="https://twitter.com/HegeCoin" target="_blank">
          <img width="50" height="50" alt="X logo" src="{{ .RelPermalink }}">
        </a>
        {{ end }}
      </li>
      <li>
        {{ with partial "res.html" "img/telegram-logo.svg" }}
        <a href="https://t.me/Hegequarters" target="_blank">
          <img width="50" height="50" alt="Telegram logo" src="{{ .RelPermalink }}">
        </a>
        {{ end }}
      </li>
      <li>
        {{ with partial "res.html" "img/linktree-logo.svg" }}
        <a href="https://linktr.ee/hegefund" target="_blank">
          <img width="50" height="50" alt="Linktree logo" src="{{ .RelPermalink }}">
        </a>
        {{ end }}
      </li>
      <li>
        {{ with partial "res.html" "img/dexscreener-logo.svg" }}
        <a href="https://dexscreener.com/solana/cjcu7cirhbhu4bdnplgaum1a6isp9ruhjmg36rjjrxnd" target="_blank">
          <img width="50" height="50" alt="DEX Screener logo" src="{{ .RelPermalink }}">
        </a>
        {{ end }}
      </li>
    </ul>
    <p>
      Disclaimer: $HEGE is a memecoin with no intrinsic value. Don't risk money you are afraid of losing. The price
      may go up or it may go down. We are not responsible for the price of the token.
    </p>
    <p>
      Copyright Hegecoin 2025
    </p>
    <p>
      Handcrafted with ❤️
    </p>
  </footer>
  {{ if site.Params.enable_cookies }}
  <dialog id="cookie-consent-dialog" class="cookie-consent-dialog">
    <div class="w box">
      <h2>
        Cookies or nah?
      </h2>
      <p>
        We use cookies to improve the Hege website. Please accept them! (But if you don't want to, that's cool, too.)
      </p>
      <p>
        Can't make up your mind? Read more on our <a class="hi-viz" href="/cookies">Cookies Page</a>.
      </p>
      <form method="dialog">
        <button id="accept-cookies-btn" class="btn btn-ok" autofocus="">
          Accept cookies
        </button>
        <button id="reject-cookies-btn" class="btn btn-cancel">
          Reject cookies
        </button>
      </form>
    </div>
  </dialog>
  {{ end }}
  <template id="geoblock-msg-template">
    <div class="heavy plain box">
      <h1>
        Sorry!
      </h1>
      <p>
        Based on your location, you are not allowed to access the Hege website.
      </p>
      <p>
        Because of legal uncertainties, we are forced to block visitors from the following countries:
      </p>
      <ul>
        <li>United Kingdom</li>
      </ul>
    </div>
  </template>
</body>

</html>