{{ define "main" }}
<section id="intro">
  <div class="text">
    <h1>
      <strong>Hege:</strong>
      An Underhog Story
    </h1>
    <p>
      Hege is on a mission to moon as the ultimate meme &mdash; all to win Hegena's heart.
    </p>
    <div>
      <ul>
        <li>
          {{ with partial "res.html" "img/telegram-logo.svg" }}
          <a href="https://t.me/Hegequarters" target="_blank" title="Chat in our Telegram group">
            <img width="50" height="50" alt="Telegram logo" src="{{ .RelPermalink }}" fetchpriority="high">
          </a>
          {{ end }}
        </li>
        <li>
          {{ with partial "res.html" "img/x-logo.svg" }}
          <a href="https://twitter.com/HegeCoin" target="_blank" title="Connect with us on X">
            <img width="50" height="50" alt="X logo" src="{{ .RelPermalink }}" fetchpriority="high">
          </a>
          {{ end }}
        </li>
        <li>
          {{ with partial "res.html" "img/instagram-logo.svg" }}
          <a href="https://www.instagram.com/hege.coin/" target="_blank" title="Follow us on Instagram">
            <img width="50" height="50" alt="Instagram logo" src="{{ .RelPermalink }}" fetchpriority="high">
          </a>
          {{ end }}
        </li>
        <li>
          {{ with partial "res.html" "img/tiktok-logo.svg" }}
          <a href="https://www.tiktok.com/@hegecoinsol" target="_blank" title="Follow us on TikTok">
            <img width="50" height="50" alt="TikTok logo" src="{{ .RelPermalink }}" fetchpriority="high">
          </a>
          {{ end }}
        </li>
      </ul>
      <a href="#buy" class="btn btn-ok" title="Learn how to buy $HEGE">
        Buy $Hege
      </a>
    </div>
  </div>
  <div class="img">
    {{ $lr := partial "r.html" (.Resources.Get "img/hege-flowers-600.avif") }}
    {{ $hr := partial "r.html" (.Resources.Get "img/hege-flowers-1000.avif") }}
    <img src="{{ $hr.RelPermalink }}" fetchpriority="high" sizes="(width <= 500px) 82vw, 500px"
      srcset="{{ $lr.RelPermalink }} 600w, {{ $hr.RelPermalink }} 1000w"
      alt="Hege offering a Hegena flowers" width="1000" height="1124">
  </div>
  {{ with partial "r.html" (.Resources.Get "img/hendrix-peeking.avif") }}
  <img id="peekaboo" src="{{ .RelPermalink }}" fetchpriority="high"
    alt="A disapproving Hendrix peeking in from the left" width="684" height="1016">
  {{ end }}
</section>

<section id="story">
  <div id="story-w" class="swipelist">
    <div class="box">
      <div>
        <h2>The Underhog Story</h2>
        <p>
          Hege has always been a dreamer, but life hasn't been kind to him.
        </p>
        <p>
          Orphaned at a young age after a tragic accident killed his parents, he grew up in hardship, fighting to
          survive in a world that never gave him a chance. Now lonely and shy, Hege has one burning ambition: to become
          a successful meme.
        </p>
        <p>
          Only then can he win the heart of his crush, Hegena.
        </p>
      </div>
      {{ with partial "r.html" (.Resources.Get "vid/hege-poor.mp4") }}
      <video autoplay loop playsinline width="720" height="720">
        <source src="{{ .RelPermalink }}">
      </video>
      {{ end }}
    </div>
    <div class="box">
      <div>
        <h2>A Rival in the Way</h2>
        <p>
          But there's a problem: Hegena already has a boyfriend.
        </p>
        <p>
          His name is Hendrix — a wealthy, arrogant jock and heir to a hedge fund empire. He constantly belittles Hege,
          flaunting his riches and ridiculing Hege's humble roots. To Hegena, Hendrix represents the life of luxury she
          craves, while Hege is little more than a
          struggling dreamer she barely notices.
        </p>
        <p>
          Winning Hegena over seems impossible. But Hege has a plan...
        </p>
      </div>
      {{ with partial "r.html" (.Resources.Get "vid/hendrix-gift.mp4") }}
      <video autoplay loop playsinline width="720" height="720">
        <source src="{{ .RelPermalink }}">
      </video>
      {{ end }}
    </div>
    <div class="box">
      <div>
        <h2>A Meme With a Dream</h2>
        <p>
          Hege dives into the world of meme coins.
        </p>
        <p>
          Our hero is channeling his passion into the creation of a project that's all about him.
          He knows that when his token hits a $1 billion market cap, he'll be seen as a success not just by Hegena
          but by the entire world. The stakes are higher than ever for this underhog.
        </p>
        <p>
          Hege's mission evolved from love to a redemption story, proving that even an underhog can rise against all
          odds.
        </p>
      </div>
      {{ with partial "r.html" (.Resources.Get "vid/hege-degen.mp4") }}
      <video autoplay loop playsinline width="720" height="720">
        <source src="{{ .RelPermalink }}">
      </video>
      {{ end }}
    </div>
    <div class="box">
      <div>
        <h2>An Unexpected Ally</h2>
        <p>
          With Hegena currently out of reach, her widowed mother Helena strangely takes an interest in Hege.
        </p>
        <p>
          To Hege's equal surprise and disgust, Helena flirts with him, offers encouragement, and
          is the only one who sees his true potential. At times, her flirtatious hints leave him more confused than
          ever.
        </p>
        <p>
          Even so, Hege's focus remains steadfast: to win Hegena's heart by becoming the meme of her dreams.
        </p>
      </div>
      {{ with partial "r.html" (.Resources.Get "vid/helena-thirsty.mp4") }}
      <video autoplay loop playsinline width="720" height="720">
        <source src="{{ .RelPermalink }}">
      </video>
      {{ end }}
    </div>
    <div class="box">
      <div>
        <h2>Join the Journey</h2>
        <p>
          This is where you come in.
        </p>
        <p>
          By joining the $HEGE-fund, you can become
          part of Hege's epic journey. Help this underhog flip the script on Hendrix, impress Hegena, and prove that no
          dream is too big — even for a hedgehog with nothing but hope, courage, and a token bearing his name.
        </p>
        <p>
          Let's come together and make Hege a true legend!
        </p>
      </div>
      {{ with partial "r.html" (.Resources.Get "vid/hege-sunglasses.mp4") }}
      <video autoplay loop playsinline width="720" height="720">
        <source src="{{ .RelPermalink }}">
      </video>
      {{ end }}
    </div>
  </div>
  <ul class="back-fwd-ctrl">
    <li>
      <button class="prev" aria-label="Previous" onclick="scrollSlider('story-w', -1)">
        <svg width="16" height="16" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
        </svg>
      </button>
    </li>
    <li>
      <button class="next" aria-label="Next" onclick="scrollSlider('story-w', 1)">
        <svg width="16" height="16" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
        </svg>
      </button>
    </li>
  </ul>
</section>

<section id="characters">
  <h2>
    Join the $HEGE-fund to Help Unlock New Characters and Their Stories!
  </h2>
  <p>
    The Hege story features 4 characters each with their own quirks. With every new market cap milestone reached, more
    of their story is unlocked.
  </p>
  <ul>
    <li class="box">
      <p>
        {{ $r675 := partial "r.html" (.Resources.Get "img/portrait-hege-675.avif") }}
        {{ $r800 := partial "r.html" (.Resources.Get "img/portrait-hege-800.avif") }}
        {{ $r1280 := partial "r.html" (.Resources.Get "img/portrait-hege-1280.avif") }}
        <img src="{{ .RelPermalink }}" width="600" height="600" alt="Hege" loading="lazy"
          sizes="(width <= 500px) 92vw, 800px"
          srcset="{{ $r675.RelPermalink }} 675w, {{ $r800.RelPermalink }} 800w, {{ $r1280.RelPermalink }} 1280w">
      </p>
      <div>
        <h3>Hege</h3>
        <p>
          We all love a good underdog story right? Hege’s persistent attempts at making ends meet, whilst feeling like
          the odds are stacked against him embodies a real go-getter attitude. He’s smart, ambitious and strong-willed —
          he’s paving the path for a life of wealth, authenticity and true hedgehog connection.
        </p>
      </div>
    </li>
    <li class="box">
      <p>
        {{ $r675 := partial "r.html" (.Resources.Get "img/portrait-hegena-675.avif") }}
        {{ $r800 := partial "r.html" (.Resources.Get "img/portrait-hegena-800.avif") }}
        {{ $r1280 := partial "r.html" (.Resources.Get "img/portrait-hegena-1280.avif") }}
        <img src="{{ .RelPermalink }}" width="600" height="600" alt="Hegena" loading="lazy"
          sizes="(width <= 500px) 92vw, 800px"
          srcset="{{ $r675.RelPermalink }} 675w, {{ $r800.RelPermalink }} 800w, {{ $r1280.RelPermalink }} 1280w">
      </p>
      <div>
        <h3>Hegena</h3>
        <p>
          Hegena is the calm in every bit of chaos. She’s kind and compassionate, intelligent and confident, and despite
          her gravitation for keeping the peace, her spirit is bold and her voice certainly holds the attention of one
          Hegie in particular.
        </p>
      </div>
    </li>
    <li class="box">
      <p>
        {{ $r675 := partial "r.html" (.Resources.Get "img/portrait-hendrix-675.avif") }}
        {{ $r800 := partial "r.html" (.Resources.Get "img/portrait-hendrix-800.avif") }}
        {{ $r1280 := partial "r.html" (.Resources.Get "img/portrait-hendrix-1280.avif") }}
        <img src="{{ .RelPermalink }}" width="600" height="600" alt="Hendrix" loading="lazy"
          sizes="(width <= 500px) 92vw, 800px"
          srcset="{{ $r675.RelPermalink }} 675w, {{ $r800.RelPermalink }} 800w, {{ $r1280.RelPermalink }} 1280w">
      </p>
      <div>
        <h3>Hendrix</h3>
        <p>
          Hendrix is the opposite of slow to anger. Based out of spite and jealousy, his determination is shown by his
          relentless quest to ruin anything and everything that could get in the way of his social status. Hendrix may
          have the girl, the car, and social profile but how long can it be sustained when the ugliness of hatred gets
          unveiled?
        </p>
      </div>
    </li>
    <li class="box">
      <p>
        {{ $r675 := partial "r.html" (.Resources.Get "img/portrait-helena-675.avif") }}
        {{ $r800 := partial "r.html" (.Resources.Get "img/portrait-helena-800.avif") }}
        {{ $r1280 := partial "r.html" (.Resources.Get "img/portrait-helena-1280.avif") }}
        <img src="{{ .RelPermalink }}" width="600" height="600" alt="Helena" loading="lazy"
          sizes="(width <= 500px) 92vw, 800px"
          srcset="{{ $r675.RelPermalink }} 675w, {{ $r800.RelPermalink }} 800w, {{ $r1280.RelPermalink }} 1280w">
      </p>
      <div>
        <h3>Helena</h3>
        <p>
          Helena is the definition of fierce mixed with sass. She’s a force to be reckoned with and nobody’s fool. From
          putting the world right with her besties over a glass of red, championing her self-appointed role as
          neighbourhood watch-hog, and being a steady figure in Hegena’s life—it’s Helena’s world and we’re all just
          living in it.
        </p>
      </div>
    </li>
  </ul>
</section>

<section id="trailer">
  <h2>Watch the Hege Trailer</h2>
  {{ with partial "r.html" (.Resources.Get "vid/hege-trailer.avif") }}
  <video controls preload="none" poster="{{ .RelPermalink }}" width="1920" height="1020">
    {{ end }}
    {{ with partial "r.html" (.Resources.Get "vid/hege-trailer.mp4") }}
    <source src="{{ .RelPermalink }}" type="video/mp4">
  </video>
  {{ end }}
</section>

<section id="chapters">
  <h2>Unlock Chapters at Each Milestone</h2>
  <p>
    Hege is very ambitious — he will only release season one’s final chapter at $1 billion market cap... Only after
    this will Hegena even consider Hege a successful meme.
  </p>
  <ul>
    {{ $chapters := slice
    (slice "Chapter 1" "$1M" "Read now!" "chapter-1" "img/ch-1-book.svg")
    (slice "Chapter 2" "$5M" "Read now!" "chapter-2" "img/ch-2-book.svg")
    (slice "Chapter 3" "$10M" "Read now!" "chapter-3" "img/ch-3-book.svg")
    (slice "Chapter 4" "$25M" "Watch now!" "chapter-4" "img/ch-4-book.svg")
    (slice "Chapter 5" "$50M" "Watch now!" "chapter-5" "img/ch-5-book.svg")
    (slice "Chapter 6" "$100M" "" "" "img/ch-6-book.svg")
    (slice "Chapter 7" "$250M" "" "" "img/ch-7-book.svg")
    (slice "Chapter 8" "$500M" "" "" "img/ch-8-book.svg")
    (slice "Chapter 9" "$750M" "" "" "img/ch-9-book.svg")
    (slice "Chapter 10" "$1B" "" "" "img/ch-10-book.svg")
    (slice "Season 2" "$2.5B" "" "" "img/ch-s2-book.svg")
    (slice "Season 3" "$5B+" "" "" "img/ch-s3-book.svg")
    }}
    {{ range $idx, $ch := $chapters }}
    <li class="fat tilted textured padded box">
      {{ with partial "r.html" ($.Resources.Get (index $ch 4)) }}
      <img src="{{ .RelPermalink }}" width="300" height="284" alt="{{ index $ch 0 }}" loading="lazy">
      {{ end }}
      <h3>{{ index $ch 0 }}</h3>
      <span>{{ index $ch 1 }}</span>
      {{ if (index $ch 2) }}
      <a href="{{ index $ch 3 }}" class="btn" title="Visit {{ index $ch 0 }}">{{ index $ch 2 }}</a>
      {{ else }}
      Market Cap
      {{ end }}
    </li>
    {{ end }}
  </ul>
</section>

<section id="buy" class="dex">
  <h2>How to Buy $HEGE</h2>
  <p>
    Contract Address:
  </p>
  <p class="ca fat flat box">
    <strong>ULwSJmmpxmnRfpu6BjnK6rprKXqD5jXUmPpS1FxHXFy</strong>
    <button class="btn"
      onclick="navigator.clipboard.writeText('ULwSJmmpxmnRfpu6BjnK6rprKXqD5jXUmPpS1FxHXFy')">Copy</button>
  </p>
  <ul>
    <li>
      <a id="buy-dex-link" href="#buy-dex" onclick="return toggleBuyDexCex('buy', 'dex')">On-chain</a>
    </li>
    <li class="toggle" onclick="return toggleBuyDexCex('buy')"></li>
    <li>
      <a id="buy-cex-link" href="#buy-cex" onclick="return toggleBuyDexCex('buy', 'cex');">Exchange</a>
    </li>
  </ul>
  <div id="buy-dex">
    <h3 class="sr-only">$HEGE on-chain</h3>
    <ol>
      <li class="tilted fat textured box">
        <h4>Create a wallet</h4>
        <p>
          Download a Solana wallet. We recommend Phantom or Solflare. These can be downloaded from the app store or as
          browser extensions for desktop users.
        </p>
        {{ with partial "r.html" (.Resources.Get "img/yellow-dashes.svg") }}
        <img src="{{ .RelPermalink }}" alt="A yellow dashed line curving downwards" width="300" height="153"
          loading="lazy">
        {{ end }}
      </li>
      <li class="tilted fat textured box">
        <h4>Add Solana (SOL)</h4>
        <p>
          Get SOL through the Phantom wallet or alternatively send SOL to your new wallet from an exchange.
        </p>
        {{ with partial "r.html" (.Resources.Get "img/yellow-dashes.svg") }}
        <img src="{{ .RelPermalink }}" alt="A yellow dashed line curving downwards" width="300" height="153"
          loading="lazy">
        {{ end }}
      </li>
      <li class="tilted fat textured box">
        <h4>Swap SOL for HEGE</h4>
        <p>
          Go to this link: <a href="https://jup.ag/swap/SOL-HEGE">https://jup.ag/swap/SOL-HEGE</a>. Then connect your
          wallet and swap SOL to HEGE.
        </p>
        {{ with partial "r.html" (.Resources.Get "img/yellow-dashes.svg") }}
        <img src="{{ .RelPermalink }}" alt="A yellow dashed line curving downwards" width="300" height="153"
          loading="lazy">
        {{ end }}
      </li>
      <li class="tilted fat textured box">
        <h4>You're all set</h4>
        <p>
          Your HEGE tokens should now be in your wallet. Welcome to the $HEGE-fund!
        </p>
      </li>
    </ol>
  </div>

  <div class="fat padded box" id="buy-cex">
    <div>
      <h3>Buy $HEGE on Centralized Exchanges</h3>
      <p>
        You can find us on the exchanges listed here. Simply sign up for an account, follow the steps and search for
        "Hege" in spot markets. (You may need to confirm your identity.)
      </p>
      <p>
        We’re continuously listing on new exchanges, so if your favorite exchange isn’t displayed, look out for our
        announcements, we may be listing there soon!
      </p>
    </div>
    <div>
      <h4>$HEGE is listed on:</h4>
      <ul>
        <li>
          <a href="https://www.mexc.com/exchange/HEGE_USDT">
            {{ with partial "res.html" "img/mexc-logo.svg" }}
            <img src="{{ .RelPermalink }}" alt="Mexc logo" width="300" height="63" loading="lazy">
            {{ end }}
          </a>
        </li>
        <li>
          <a href="https://ascendex.com/en/cashtrade-spottrading/usdt/hege">
            {{ with partial "res.html" "img/ascendex-logo.svg" }}
            <img src="{{ .RelPermalink }}" alt="AscendEX logo" width="300" height="51" loading="lazy">
            {{ end }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section id="nfts">
  <div>
    <div>
      <h2>NFTs</h2>
      {{ with partial "res.html" "img/hegends-logo-y.avif" }}
      <a href="/nfts/" title="Learn more about the Hegends NFT collection">
        <img src="{{ .RelPermalink }}" alt="Hegends" width="1000" height="262" loading="lazy">
      </a>
      {{ end }}
      <p>
        Launched on 19 September 2024, there are 2,222 unique Hegends.
        The public mint sold out in just under 90 minutes!
      </p>
      <div class="nft-prices">
        <p class="small heavy box">
          Mint Price <strong>$100</strong>
        </p>
        <p class="small heavy box">
          Floor Price Now<strong id="hegends-floor-price">...</strong>
        </p>
      </div>
      <p>
        <a href="/nfts/" class="btn btn-ok">Learn more here</a>
      </p>
    </div>
    <a href="/nfts/" title="Learn more about the Hegends NFT collection">
      {{ with partial "res.html" "img/hegends-collage.avif" }}
      <img src="{{ .RelPermalink }}" alt="Hegends" width="1000" height="728" loading="lazy">
      {{ end }}
    </a>
  </div>
</section>

<section id="memes">
  <h2>Memes</h2>
  <div>
    <ul id="memes-w" class="swipelist">
      {{ range .Resources.Match "memes/small/*.png" }}
      {{ $small := partial "r.html" ($.Resources.Get (replace .Name ".png" ".avif")) }}
      {{ $large := partial "r.html" ($.Resources.Get (replace $small.Name "small" "large")) }}
      <li>
        <a href="{{ $large.RelPermalink }}">
          <img src="{{ $small.RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="Hege meme"
            loading="lazy">
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
  <ul class="back-fwd-ctrl">
    <li>
      <button class="prev" aria-label="Previous" onclick="scrollSlider('memes-w', -1)">
        <svg width="16" height="16" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
        </svg>
      </button>
    </li>
    <li>
      <button class="next" aria-label="Next" onclick="scrollSlider('memes-w', 1)">
        <svg width="16" height="16" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
        </svg>
      </button>
    </li>
  </ul>
  <p>
    <a title="View all memes in our Google Driver folder" target="_blank"
      href="https://drive.google.com/drive/folders/1WHStWTtsCdAKaLHJ8S7n41sTxZ1j4wBA" class="btn btn-ok">See more
      memes</a>
  </p>
</section>

<section id="faq">
  <h2>
    Frequently Asked Questions
  </h2>
  <div class="fat textured box">
    <details>
      <summary>
        What is a story-driven memecoin?
      </summary>
      <p>
        Featuring four unique characters, the Hege story is an instant classic, and one we can all relate to. As market
        cap targets are reached, more of their story is unlocked.
      </p>
    </details>
    <details>
      <summary>
        Where can I get a Hegends NFT?
      </summary>
      <p>
        NFTs can be purchased on exchanges such as Tensor and Magic Eden.
      </p>
    </details>
    <details>
      <summary>
        Where is the community most active?
      </summary>
      <p>
        The most activity happens in the <a href="https://t.me/Hegequarters" target="_blank"
          class="hi-viz">Hegequarters</a> on Telegram. We also have
        a thriving subreddit on <a href="https://www.reddit.com/r/HegeCoin/" target="_blank"
          class="hi-viz">r/HegeCoin</a>.
      </p>
    </details>
    <details>
      <summary>
        I have a question not answered here
      </summary>
      <p>
        Please see our <a href="https://www.reddit.com/r/HegeCoin/" target="_blank" class="hi-viz">subreddit's Wiki</a>
        which covers many more common questions.
      </p>
    </details>
  </div>
</section>

<section id="tokenomics">
  <h2>
    Hegenomics
  </h2>
  <div class="fat textured box">
    {{ with partial "r.html" (.Resources.Get "img/tokenomics.avif") }}
    <img src="{{ .RelPermalink }}" width="2000" height="417" alt="$HEGE tokenomics: 50% LP, 45% Presale, 5% Team"
      loading="lazy">
    {{ end }}
    <p>
      Hege launched on 5th April 2024, with a starting market cap of $64,000.
    </p>
    <ul>
      <li>0% Tax</li>
      <li>Mint &amp; Freeze Revoked</li>
      <li>Liquidity Burned</li>
      <li>Total Supply: 1B $HEGE</li>
    </ul>
  </div>
</section>

<section id="join">
  {{ with partial "r.html" (.Resources.Get "vid/hege-airplane.mp4") }}
  <video autoplay loop playsinline width="1278" height="720">
    <source src="{{ .RelPermalink }}" type="video/mp4">
  </video>
  {{ end }}
  <div>
    <div>
      <h2>
        Get Involved!
      </h2>
      <p>
        We have a growing community of diamond-handed Hegends — join us in our Telegram where we are most active!
      </p>
      <p>
        <a href="https://t.me/Hegequarters" target="_blank" class="btn btn-ok">Join the Telegram!</a>
      </p>
    </div>
    <div id="tg-live" class="tg-live fat box"></div>
  </div>
</section>
{{ end }}