{{ define "main" }}
<h1>What the World is Saying About $HEGE</h1>
<p class="subh">
  We know $HEGE is great, but don't just take our word for it...
</p>
<section id="tm-tms">
  <h2>Testimonials from the $HEGE Community</h2>
  <div>
    <ul id="testimonials-w">
      <li class="box">
        <p>
          I was blown away by the activity on their Telegram channel and how friendly and supportive the community
          was.
          Their website and social media presence were also top-notch, showing a level of professionalism that is rare
          in the crypto space.
        </p>
        <p>
          {{ with partial "r.html" (.Resources.Get "bgmajiil.avif") }}
          <img src="{{ .RelPermalink }}" width="50" height="50" alt="@bgmajiil">
          {{ end }}
          <span>@bgmajiil</span>
        </p>
      </li>
      <li class="box">
        <p>
          I would love to start by saying that it is refreshing to see coin that is not a pump and dump coin. It is
          also
          nice to see community and dev with the team making something amazing.
        </p>
        <p>
          {{ with partial "r.html" (.Resources.Get "maciejkaa.avif") }}
          <img src="{{ .RelPermalink }}" width="50" height="50" alt="@Maciejkaa">
          {{ end }}
          <span>@Maciejkaa</span>
        </p>
      </li>
      <li class="box">
        <p>
          I found out about $HEGE thru a family member. Wasn't in to memecoins before but I really felt that $HEGE is
          different and special. Content is great and the community bonded quickly.
        </p>
        <p>
          {{ with partial "r.html" (.Resources.Get "coinjodimama.avif") }}
          <img src="{{ .RelPermalink }}" width="50" height="50" alt="@Coinjodimama">
          {{ end }}
          <span>@Coinjodimama</span>
        </p>
      </li>
      <li class="box">
        <p>
          I knew once I seen this project that it was special. I invested 2 or 3 days after launch and it was a great
          decision which will pay me long into the future. Fantastic Team Fantastic Community and the best meme in the
          market. It gives me a great sense of excitement at what the future might bring for all our holders 🦾
        </p>
        <p>
          {{ with partial "r.html" (.Resources.Get "kianburke_9.avif") }}
          <img src="{{ .RelPermalink }}" width="50" height="50" alt="@Kianburke_9">
          {{ end }}
          <span>@Kianburke_9</span>
        </p>
      </li>
      <li class="box">
        <p>
          I randomly stumbled Hege on Reddit! I have never been apart of a group like this but everyone has been great
          and helpful, I’m excited to see the project flourish!
        </p>
        <p>
          {{ with partial "r.html" (.Resources.Get "devin.avif") }}
          <img src="{{ .RelPermalink }}" width="50" height="50" alt="@devin">
          {{ end }}
          <span>@Devin</span>
        </p>
      </li>
      <li class="box">
        <p>
          Hege is not just a memecoin for me but a project that led me to believe in the veracity of this industry.
          I’ve been rugged multiple times but I never doubted my investment in Hege. To The Moon!!!
        </p>
        <p>
          {{ with partial "r.html" (.Resources.Get "simaosilva00.avif") }}
          <img src="{{ .RelPermalink }}" width="50" height="50" alt="@simaosilva00">
          {{ end }}
          <span>@simaosilva00</span>
        </p>
      </li>
      <li class="box">
        <p>
          I found Hege randomly on day 2 via Dexscreener and bought a little because I liked the graphics, stayed
          around for a while in Telegram and followed how the project is developing. Obviously, I loved it since I'm
          still here 4 months later. I'm in for the long ride. Hege to billions.
        </p>
        <p>
          {{ with partial "r.html" (.Resources.Get "tuchekk.avif") }}
          <img src="{{ .RelPermalink }}" width="50" height="50" alt="@tuchekk">
          {{ end }}
          <span>@tuchekk</span>
        </p>
      </li>
      <li class="box">
        <p>
          I luckily found $HEGE when it was first under 10mil market cap, and straight away thought I'd found
          something special. I don't know much about crypto, but the telegram group sucked me in. Transparent and fun,
          I joined in the shill and actually enjoyed it.
        </p>
        <p>
          {{ with partial "r.html" (.Resources.Get "Boombox.avif") }}
          <img src="{{ .RelPermalink }}" width="50" height="50" alt="@Boombox">
          {{ end }}
          <span>@Boombox</span>
        </p>
      </li>
      <li class="box">
        <p>
          $HEGE is a unique project, with a fantastic community and the fundamentals to have a shot at generational
          wealth. That's why I joined, and anyone else can join too.
        </p>
        <p>
          {{ with partial "r.html" (.Resources.Get "d0lph1n11.avif") }}
          <img src="{{ .RelPermalink }}" width="50" height="50" alt="@d0lph1n11">
          {{ end }}
          <span>@D0LPH1N11</span>
        </p>
      </li>
      <li class="box">
        <p>
          Sometimes it's easy to forget that I haven't even met the people in the Telegram in person. We've been
          through such crazy events that it just seems I've always known them!
        </p>
        <p>
          {{ with partial "r.html" (.Resources.Get "meathead25.avif") }}
          <img src="{{ .RelPermalink }}" width="50" height="50" alt="@meathead25">
          {{ end }}
          <span>@meathead25</span>
        </p>
      </li>
      <li class="box">
        <p>
          As someone who was invited to Safemoon and Floki presale (denied due to fear of being rugged like 99.9% of
          memecoins), I can attest that Hege will be heading to $2 Billion or more this cycle. The two projects I
          listed mainly only had hype, but HEGE has a lot more to offer + Hype.
        </p>
        <p>
          {{ with partial "r.html" (.Resources.Get "lastlaughbirdy.avif") }}
          <img src="{{ .RelPermalink }}" width="50" height="50" alt="@LastLaughBirdy">
          {{ end }}
          <span>@LastLaughBirdy</span>
        </p>
      </li>
      <li class="box">
        <p>
          I live paycheck to paycheck and my current $HEGE profits have already been a life changer! It's been very
          easy to hold onto my investments because of the transparency from the Devs, the drive of the community, and
          the roadmap for the future. $HEGE to a billion and beyond!!
        </p>
        <p>
          {{ with partial "r.html" (.Resources.Get "dokerbohnuts.avif") }}
          <img src="{{ .RelPermalink }}" width="50" height="50" alt="@Dokerbohnuts">
          {{ end }}
          <span>@Dokerbohuts</span>
        </p>
      </li>
    </ul>
  </div>
  <ul class="back-fwd-ctrl">
    <li>
      <button class="prev" aria-label="Previous" onclick="scrollSlider('testimonials-w', -1)">
        <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
        </svg>
      </button>
    </li>
    <li>
      <button class="next" aria-label="Next" onclick="scrollSlider('testimonials-w', 1)">
        <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
        </svg>
      </button>
    </li>
  </ul>
</section>
<section id="tm-yt">
  <h2>$HEGE on YouTube</h2>
  <ul class="wider b-list">
    <li class=" box pop">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Z7rENi9DIcg?si=eL6eeWyOn1kximop"
        title="YouTube video player" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </li>
    <li class="box pop">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/2NGl3DS7RdY?si=P-XbDnufDfb2-dHR"
        title="YouTube video player" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </li>
    <li class="box pop">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/O-Z3Khe2qEE?si=VcWw1WoOPL6moBWu"
        title="YouTube video player" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </li>
  </ul>
</section>
<section id="tm-news">
  <h2>$HEGE in the News</h2>
  <ul class="wider b-list">
    <li>
      <a class="box pop" href="https://chainwire.org/2024/05/29/hegecoin-hege-unveils-ai-characters-and-launches-major-marketing-blitz/"
        target="_blank">
        {{ with .Resources.Get "news-1.avif" | fingerprint }}
        <img src="{{ .RelPermalink }}" width="500" height="300"
          alt="The four Hege characters against a yellow background" loading="lazy">
        {{ end }}
        <h3>
          HegeCoin ($HEGE) Unveils AI Characters and Launches Major Marketing Blitz
        </h3>
        {{ with partial "r.html" (.Resources.Get "chainwire-logo.avif") }}
        <img src="{{ .RelPermalink }}" width="204" height="26" alt="Chainwire logo" loading="lazy">
        {{ end }}
      </a>
    </li>
    <li>
      <a class="box pop" href="https://insidebitcoins.com/news/hege-price-prediction-hege-soars-86-as-this-pepe-2-0-presale-rockets-towards-10-million"
        target="_blank">
        {{ with .Resources.Get "news-2.webp" | fingerprint }}
        <img src="{{ .RelPermalink }}" width="500" height="281" alt="A muscular Hege with hands made of pure diamond" loading="lazy">
        {{ end }}
        <h3>
          Hege Price Prediction: HEGE Soars 86% Within Only a Few Days
        </h3>
        {{ with partial "r.html" (.Resources.Get "inside-bitcoins-logo.svg") }}
        <img src="{{ .RelPermalink }}" width="195" height="32" alt="InsideBitcoin logo" loading="lazy">
        {{ end }}
      </a>
    </li>
    <li>
      <a class="box pop" href="https://coinchapter.com/solana-memecoins-are-rising-which-is-the-best-investment/" target="_blank">
        {{ with .Resources.Get "news-3.webp" | fingerprint }}
        <img src="{{ .RelPermalink }}" width="500" height="300"
          alt="Hege in sunglasses, overlayed on a dramatic sunrise background" loading="lazy">
        {{ end }}
        <h3>
          Solana Memecoins Are Rising — Which is the Best Investment?
        </h3>
        {{ with partial "r.html" (.Resources.Get "coinchapter-logo.avif") }}
        <img src="{{ .RelPermalink }}" width="209" height="40" alt="CoinChapter logo" loading="lazy">
        {{ end }}
      </a>
    </li>
  </ul>
</section>

{{ end }}