/*
CSS for home page
*/

@font-face {
    font-family: DGO;
    src: url('{{ with partial "r.html" (resources.Get "fonts/dgo-home.woff2") }}{{ .RelPermalink }}{{ end}}') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: PM;
    src: url('{{ with partial "r.html" (resources.Get "fonts/ibmpm-home.woff2") }}{{ .RelPermalink }}{{ end}}') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: PM;
    src: url('{{ with partial "r.html" (resources.Get "fonts/ibmpm-b-home.woff2") }}{{ .RelPermalink }}{{ end}}') format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

body.home {
    section {
        margin: 60px 15px 0;
        text-align: center;

        h2 {
            line-height: 1.3;
        }

        ul,
        ol {
            list-style: none;
            padding: 0;
        }

        .btn {
            padding: 8px 25px;
        }
    }
}

@media screen and (width >=900px) {
    body.home {
        section>h2 {
            font-size: 40px;
            margin: 0 auto;
        }
    }
}

/* Intro */
.home #intro {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;

    .text {
        /* font-size: 16px; */
        flex-basis: 480px;
        flex-grow: 3;

        div {
            margin: 20px auto 0;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            flex-direction: row-reverse;
            justify-content: center;
            max-width: 400px;

            &>a {
                align-self: center;
            }
        }
    }

    h1 {
        text-transform: uppercase;
        margin: 35px 0 20px;
        color: var(--red);
        text-shadow: 4px 5px 1px #00000012, 0 4px 0px #303030;
        font-size: 36px;
        border: 1px #000;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: rgb(0 0 0 /0.8);

        strong {
            color: var(--white);
            font-weight: normal;
            display: block;
        }
    }

    .img {
        max-width: 500px;
        flex-basis: 360px;
        flex-grow: 1.5;
        margin: 0 auto;
        padding: 10px 0 0 40px;
    }

    ul {
        display: flex;
        gap: 20px;
        justify-content: center;

        li:nth-child(2n) a {
            transform: rotate(4deg);
        }

        li a:hover {
            transform: scale(1.1);
        }

        a {
            display: flex;
            width: 50px;
            height: 50px;
            justify-content: center;
            align-items: center;
            border: 2px solid var(--black);
            border-radius: 12px;
            background: var(--white);
            box-shadow: 8px 8px 1px -3px rgb(0 0 0 / 0.2), 3px 3px 0 -1px var(--black);
            transform: rotate(-4deg);
            transition: transform 100ms ease;

            img {
                width: auto;
                height: 24px;
            }
        }
    }

    .btn {
        font-size: 15px;
    }

    #peekaboo {
        position: absolute;
        width: 35%;
        max-width: 180px;
        left: 0;
        top: 500px;
    }
}

@media screen and (width >=900px) {
    .home #intro {
        margin-top: 100px;
        text-align: left;
        align-items: flex-start;

        h1 {
            text-align: left;
            font-size: 56px;
            margin-top: 70px;
            line-height: 1.1;
            font-weight: bold;
        }

        .text {
            z-index: 2;
            font-size: 18px;

            div {
                max-width: unset;
                justify-content: flex-end;
                margin: 20px 0 0;
            }

            .btn {
                margin-top: 4px;
            }
        }

        .img {
            padding: 0;
        }

        #peekaboo {
            top: 140px;
        }
    }
}

/* Story section */

#story {
    margin: 60px 0 0;
    font-size: 13px;
    text-align: left;

    h2 {
        max-width: 800px;
    }

    .swipelist {
        &>div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-width: 90dvw;

            h2,
            p {
                margin: 15px;
            }

            video {
                max-height: 400px;
                object-fit: cover;
                flex-grow: 1;
                border: 2px solid var(--black);
                border-width: 2px 0 0 0;
                background: var(--yellow);
            }
        }
    }
}

@media screen and (width >=700px) {
    #story {
        font-size: 14px;

        .swipelist {
            max-width: 900px;
            margin: 0 auto;

            &>div {
                flex-direction: row;
                min-width: calc(100% - 20px);

                h2 {
                    font-size: 28px;
                    margin-bottom: 20px;
                }

                div {
                    margin: 15px;
                    flex-basis: 300px;
                    flex-grow: 1;
                }

                video {
                    flex-basis: 300px;
                    border-width: 0 0 0 2px;
                    max-width: min(50%, 400px);
                    max-height: unset;
                }
            }
        }
    }
}

/* Characters section */

/* Zooms in and out slightly as user scrolls by */
@keyframes zoom-it {

    0%,
    20% {
        transform: scale(1);
    }

    50%,
    70% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

#characters {
    max-width: 1200px;
    margin: 60px auto 0;

    &>p {
        margin: 15px 20px;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        margin: 20px 15px 0;
    }

    li {
        display: flex;
        flex-direction: column;
        text-align: left;
        overflow: clip;

        &>p {
            overflow: clip;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            animation: zoom-it linear;
            animation-timeline: view();
            overflow: clip;
        }

        div {
            flex-grow: 1;
            background: rgb(0 0 0 / 0.9);
            color: var(--white);
            padding: 17px 12px 12px;
        }

        h3 {
            text-transform: uppercase;
            border-left: 5px solid var(--yellow);
            padding-left: 7px;
            border-bottom-left-radius: 2px;
            border-top-left-radius: 2px;
            font-size: 20px;
            margin-bottom: 15px;
            line-height: 1;
            letter-spacing: 0.5px;
        }

        p {
            margin: 0;
        }
    }
}

@media screen and (width >=600px) {
    #characters {
        ul {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (width >=900px) {
    #characters {
        ul {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

#trailer {
    margin: 60px auto 0;
    max-width: 1000px;

    video {
        margin: 30px 0 0;
        max-width: 100%;
    }
}

/* Chapters section */

#chapters {
    margin: 60px 0 0;
    padding: 40px 15px 60px 15px;
    background: white;

    h2 {
        max-width: 1000px;
        margin: 0 auto;
    }

    p {
        max-width: 1000px;
        margin: 25px auto 35px;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        max-width: 1000px;
        margin: 0 auto;
    }

    li {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 16px;
        align-items: center;
    }

    img {
        display: none;
    }

    h3 {
        text-transform: uppercase;
        font: 16px/1 PM;
        letter-spacing: 3px;
    }

    span {
        font: 40px/1 DGO;
    }

    a {
        margin-top: 5px;
        background: var(--yellow);
        width: 100%;

        &:hover {
            background: var(--black);
        }
    }
}

@media screen and (width >=550px) {
    #chapters {
        ul {
            grid-template-columns: 1fr 1fr;
        }

        img {
            display: block;
            max-width: 100px;
        }
    }
}

@media screen and (width >=850px) {
    #chapters {
        ul {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
        }
    }
}

/* How to buy section */

#buy {
    margin-top: 45px;

    h2 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .ca {
        background: transparent;
        display: flex;
        width: fit-content;
        /* 15px padding each side */
        max-width: calc(100vw - 30px);
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        padding: 12px 15px 12px 20px;
        gap: 10px;
        font-size: 16px;

        strong {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .btn {
            padding: 7px 14px;
            font-size: 14px;
            background: transparent;

            &:hover {
                background: var(--black);
            }
        }
    }

    &>ul {
        margin: 25px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        font-size: 16px;
        list-style: none;
        padding: 0;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: var(--black);
        }

        .toggle {
            display: inline-block;
            border-radius: 14px;
            background: white;
            border: 2px solid var(--black);
            width: 60px;
            height: 30px;
            position: relative;

            &:hover {
                cursor: pointer;
            }
        }

        .toggle::after {
            position: absolute;
            top: 3px;
            content: '';
            display: block;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background: var(--yellow);
            border: 2px solid var(--black);
            transition: transform 150ms ease;
        }
    }

    &.dex ul {
        #buy-dex-link {
            font-weight: bold;
        }

        .toggle::after {
            transform: translateX(3px);
        }
    }

    &.cex ul {
        #buy-cex-link {
            font-weight: bold;
        }

        .toggle::after {
            transform: translateX(32px);
        }
    }
}

@media screen and (width <=325px) {
    #buy>ul .toggle {
        /* Toggle doesn't fit on narrow displays */
        display: none;
    }
}


#buy-cex,
#buy-dex {
    max-width: 800px;
    margin: 0 auto;

    transition: all 150ms linear;
    transition-behavior: allow-discrete;
}

#buy.dex #buy-cex,
#buy.cex #buy-dex {
    opacity: 0;
    display: none;
}

#buy-dex {
    ol {
        counter-reset: item;

        li {
            position: relative;
            max-width: 400px;
            margin: 25px auto 25px 0;
            padding: 75px 35px 35px;
            counter-increment: item;

            &:nth-child(even) {
                margin: 25px 0 25px auto;
                transform: rotate(0.75deg);
            }
        }

        li:before {
            content: counter(item);
            font: bold 100px/1 DGO;
            color: rgb(0 0 0 / 0.08);
            position: absolute;
            top: 5px;
            left: 0;
            right: 0;
        }

        img {
            display: none;
        }
    }

    h4 {
        font-size: 32px;
        text-wrap: balance;
        margin-bottom: 20px;
    }

    p {
        text-align: left;
        margin: 15px 0 0;
    }
}

@media screen and (width >=600px) {
    #buy-dex {
        ol {
            img {
                display: block;
                position: absolute;
                left: 420px;
                bottom: 0;
                transform: scaleX(-1);
                width: calc(100vw - 500px);
                max-width: 250px;
            }

            li:nth-child(even) img {
                transform: none;
                right: 420px;
                left: unset;
            }
        }
    }
}

#buy-cex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    &>div {
        flex-basis: 300px;
        flex-grow: 1;

        &:last-child {
            flex-grow: 1;
        }
    }

    h3 {
        font-size: 24px;
        line-height: 1.3;
    }

    h4 {
        font: bold 16px PM;
        text-transform: uppercase;
        margin-top: 25px;
    }

    p {
        text-align: left;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin: 35px 0 15px;
        align-items: center;
        justify-content: center;
    }

    li a {
        img {
            max-width: min(100%, 200px);
            margin: 0 auto;
        }
    }
}

@media screen and (width >=734px) {
    #buy-cex {
        h3 {
            text-align: left;
        }

        &>div:last-child {
            border: 2px solid var(--black);
            border-radius: 12px;
        }
    }
}

/* NFTs section */

#nfts {
    margin: 60px auto 0;
    padding: 30px 15px;
    background: var(--white);

    img {
        height: auto;
    }

    &>div {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;

        &>a,
        &>div {
            flex-basis: 350px;
            flex-grow: 1;
        }

        &>div {
            &>a {
                img {
                    width: 500px;
                    max-width: 90%;
                    display: inline-block;
                }
            }

            a+p {
                max-width: 600px;
                margin: 10px auto 15px;
            }
        }

        &>a {
            img {
                margin: 0 auto;
                width: 500px;
            }
        }
    }

    .nft-prices {
        margin: 35px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        p {
            flex-basis: 150px;
            flex-grow: 1;
            margin: 0;
            padding: 8px;
            background: var(--yellow);
            /* NOTE Micro-optimization, revisit this later */
            /* font-style: italic; */

            strong {
                font-style: normal;
                display: block;
                font: 18px DGO;
            }
        }
    }

    .nft-prices+p {
        margin-bottom: 10px;
    }
}

@media screen and (width >=750px) {
    #nfts {
        text-align: left;
        padding-top: 40px;

        h2 {
            font-size: 38px;
        }

        a+p {
            font-size: 16px;
        }

        .nft-prices {
            text-align: center;
        }
    }
}

/* Memes section */

#memes {
    margin: 60px 0 0;

    div {
        margin: 40px auto 15px;

        ul {
            li {
                min-width: 300px;
                max-width: 300px;

                img {
                    height: 300px;
                    object-fit: cover;
                    border-radius: 12px;
                }

                &:first-child {
                    margin-left: 10px;
                }

                &:last-child {
                    margin-right: 10px;
                }
            }
        }
    }

    &>p {
        margin-top: 20px;
    }
}

/* FAQ section */

#faq {
    margin: 60px 10px 0;

    div {
        max-width: 800px;
        margin: 25px auto;
        padding: 10px 10px;
        text-align: left;
    }

    summary {
        position: relative;
        padding: 5px 33px 5px 8px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;

        &:hover {
            cursor: pointer;
            background: rgb(0 0 0 / 0.1);
        }

        &::marker {
            content: '';
        }

        &::-webkit-details-marker {
            display: none;
        }

        &::before,
        &::after {
            content: '';
            border-block-start: 3px solid var(--black);
            height: 0;
            width: 16px;
            inset-block-start: 15px;
            inset-inline-end: 8px;
            position: absolute;
            position-area: top end;
            transition: transform 200ms ease;
        }

        &::after {
            transform: rotate(-90deg);
            transform-origin: 50%;
        }
    }

    details[open] summary::after {
        transform: rotate(0);
    }

    p {
        margin: 8px 8px 15px 8px;
    }
}

@media screen and (width >=600px) {
    #faq {
        p {
            margin-right: 35px;
        }
    }
}

/* Tokenomics section */

#tokenomics {
    margin: 60px 10px 0;

    div {
        max-width: 800px;
        margin: 25px auto;
        padding: 20px;
        text-align: left;

        img {
            width: 100%;
            max-width: 500px;
            height: auto;
            margin: 0 auto;
        }

        p {
            margin: 20px 0;
        }
    }

    ul {
        font-weight: bold;
        list-style-type: initial;
        padding-left: 25px;

        li {
            margin: 5px 0;
        }
    }
}

@media screen and (width >=600px) {
    #tokenomics {
        font-size: 16px;

        div {
            p {
                margin: 30px 0;
            }
        }

        ul {
            column-count: 2;
            column-gap: 15px;
        }
    }
}

/* Join section */

#join {
    max-width: 1000px;
    margin: 60px auto 0;
    padding: 15px;

    &>div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 35px;

        &>:first-child {
            flex-basis: 300px;
            flex-grow: 1;
        }

        &>:last-child {
            flex-basis: 300px;
            flex-grow: 1;
        }
    }

    &>video {
        height: auto;
        width: 600px;
        max-width: 100%;
        margin: 0 auto 30px;
        transform: translateX(-3%);
    }

    p {
        margin: 25px 0 0;
    }

    p:has(.btn) {
        margin-top: 30px;
    }
}

@media screen and (width >=500px) {
    #join {
        h2 {
            font-size: 32px;
        }
    }
}

@media screen and (width >=670px) {
    #join {
        font-size: 16px;
    }
}

/* Telegram live chat box */
#tg-live {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 12px;
    text-align: left;
    padding: 20px;
    display: none;

    &.filled {
        display: block;
    }

    &>div {
        display: grid;
        grid-template-columns: 45px 1fr;
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
        }

        &>div:first-child {

            img,
            span {
                border-radius: 50%;
                width: 32px;
                height: 32px;
                margin: 0;
            }

            span {
                background: #ccc;
                display: block;
                text-align: center;
                line-height: 32px;
            }
        }

        &>div:last-child {

            div {
                display: flex;
                justify-content: space-between;

                date {
                    color: rgb(0 0 0 / 0.4);
                }
            }

            p {
                margin: 5px 0 0;
            }
        }
    }
}
