/*
CSS for all pages except the home page.
*/

@font-face {
    font-family: DGO;
    src: url('{{ with partial "r.html" (resources.Get "fonts/dgo.woff2") }}{{ .RelPermalink }}{{ end}}') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: PM;
    src: url('{{ with partial "r.html" (resources.Get "fonts/ibmpm.woff2") }}{{ .RelPermalink }}{{ end}}') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: PM;
    src: url('{{ with partial "r.html" (resources.Get "fonts/ibmpm-b.woff2") }}{{ .RelPermalink }}{{ end}}') format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: PM;
    src: url('{{ with partial "r.html" (resources.Get "fonts/ibmpm-i.woff2") }}{{ .RelPermalink }}{{ end}}') format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: PM;
    src: url('{{ with partial "r.html" (resources.Get "fonts/ibmpm-bi.woff2") }}{{ .RelPermalink }}{{ end}}') format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: block;
}


/* Chapter navigation */
nav.ch {
    padding: 20px 20px 0 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 20px;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: center;
        color: rgb(0 0 0 / 0.6);
        transform: translateY(2px);

        a {
            font-weight: bold;
            font-family: PM;
            text-decoration: none;
            color: var(--black);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

main nav.ch {
    max-width: 1200px;
    margin: 25px auto 0;
    padding-bottom: 50px;
}

/* Buttons */

.btn.left-skewed {
    transform: rotate(-2deg);
}

.btn.right-skewed {
    transform: rotate(2deg);
}

.btn.left-skewed.popping:hover {
    transform: rotate(-2deg) scale(1.03);
}

.btn.right-skewed.popping:hover {
    transform: rotate(2deg) scale(1.03);
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: #ccc;
    width: 60px;
    height: 34px;
    border-radius: 34px;
    box-shadow: 0px 1px 3px #0003 inset;
    transition: 200ms ease background;
    margin-right: 5px;

    &::before {
        content: '';
        display: block;
        width: 26px;
        height: 26px;
        position: absolute;
        left: 4px;
        bottom: 4px;
        background: #fff;
        box-shadow: 0px 1px 3px #0003;
        border-radius: 50%;
        transform: translateX(0rem);
        transition: 200ms ease transform;
    }

    &:checked {
        background: var(--blue);
    }

    &:checked::before {
        transform: translateX(26px);
    }

    &:focus-visible {
        outline: 2px solid var(--blue);
        outline-offset: 3px;
    }
}

/* List of boxes, like the blog posts */
.b-list {
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
    align-items: stretch;
}

.b-list.wider {
    max-width: 1200px;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}


/*
Popover
*/

.popover {
    position: fixed;
    inset: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
    max-height: 100dvh;
    overflow: scroll;
    overscroll-behavior: contain;
    border: 0;
    padding: 0;
    background: transparent;

    /* THANK YOU https://www.oidaisdes.org/native-dialog-and-popover.en */
    --duration: 150ms;
    --start-opacity: 0.5;
    --start-scale: scale(0.8);

    opacity: 0;
    transform: scale(1);
    transition:
        opacity var(--duration) ease-out,
        transform var(--duration) cubic-bezier(0, 0, 0.2, 1),
        overlay var(--duration) allow-discrete,
        display var(--duration) allow-discrete;


    &::backdrop {
        background: rgb(0 0 0 / 0.25);
        opacity: 0;
        transition:
            opacity var(--duration),
            overlay var(--duration) allow-discrete,
            display var(--duration) allow-discrete;
    }

    &:popover-open {
        opacity: 1;
        transform: scale(1);

        @starting-style {
            opacity: var(--start-opacity);
            transform: var(--start-scale);
        }
    }

    &:popover-open::backdrop {
        background: rgb(0 0 0 / 0.25);
        opacity: 1;
    }

    &>div {
        position: relative;
        font-size: 13px;
        padding: 15px;
        margin: 5px;
    }

    button.close {
        position: absolute;
        margin: 0;
        background: none;
        border: none;

        svg {
            width: 20px;
            height: 20px;
            display: block;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

@starting-style {
    .popover:popover-open::backdrop {
        opacity: 0;
    }
}


/*
Hegends NFTs
*/

body.p-hegends {
    footer {
        margin-top: 0;
        border: none;
    }
}

body.p-hegends main {
    h1 {
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 1.3;
    }

    #nfts-intro {
        padding: 0 20px;
        max-width: 600px;
        margin: 20px auto 40px;
        text-align: center;

        &>img {
            margin: 0 auto;
            height: auto;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            align-items: stretch;
            margin: 40px auto;
            max-width: 420px;

            li {
                width: 130px;
                flex-grow: 1;

                a {
                    height: 100%;
                }
            }
        }
    }

    #nfts-rewards {
        padding: 30px 20px;
        background: var(--white);
        font-size: 13px;

        &>div {
            max-width: 600px;
            margin: 0 auto;
        }

        img {
            width: 100%;
            height: auto;
            margin: 30px auto;
        }

        h2 {
            font-size: 32px;
        }

        h3 {
            font-size: 24px;
            margin-top: 25px;
        }

        ul {
            list-style-type: disc;
            padding: 0 25px;
        }

        li {
            margin: 15px 0;
        }

        table {
            margin: 20px 0 15px;
            border-spacing: 0;
            width: 100%;
            text-align: left;
        }

        table.small {
            text-align: center;
        }

        td,
        th {
            padding: 5px 7px;
            border-right: 1px solid var(--black);
        }

        thead th {
            border-bottom: 1px solid var(--black);
        }

        td:last-child,
        th:last-child {
            border-right: none;
        }
    }
}

/*
About
*/

.p-about main {
    section {
        padding: clamp(15px, 3%, 25px);
        max-width: 680px;
        margin: 25px auto;
    }

    ul {
        li {
            margin-top: 30px;
        }

        img {
            border: 2px solid var(--black);
            border-radius: 12px;
            height: auto;
            max-width: 500px;
            width: 100%;
            margin: 0 0 0 auto;
        }

        li:nth-child(odd) img {
            margin: 0 auto 0 0;
        }

        p {
            margin-bottom: 10px;
            font-weight: bold;
            text-align: center;
        }
    }
}

@media screen and (min-width: 710px) {
    .p-about main {
        section {
            margin: 50px auto;
        }

        h2 {
            font-size: 28px;
        }
    }
}

/*
Testimonials
*/

.p-tm main {
    section {
        margin: 60px 10px 0;
    }

    h2 {
        text-align: center;
    }

    #tm-tms {
        margin: 60px auto 0;
        max-width: 1200px;

        div ul {
            margin: 20px 0 5px 0;
            display: flex;
            gap: 10px;
            overflow: scroll;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            scrollbar-width: none;
            align-items: center;

            li {
                scroll-snap-align: center;
                min-width: 90dvw;
                background: var(--white);
                background-image: url('{{ with partial "r.html" (resources.Get "img/quote-open.svg") }}{{ .RelPermalink }}{{ end }}');
                background-repeat: no-repeat;
                background-position: 15px 15px;
                background-size: 38px 30px;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                margin-bottom: 5px;
                padding: 58px 15px 15px 15px;
                font-size: 12px;

                p {
                    margin: 0;
                }

                p:last-child {
                    margin-top: 15px;
                    display: flex;
                    gap: 15px;
                    align-items: center;
                }

                img {
                    border-radius: 50%;
                }

                span {
                    font-weight: bold;
                }
            }

            li:first-child {
                margin-left: 10px;
            }

            li:last-child {
                margin-right: 10px;
            }
        }

        .back-fwd-ctrl {
            margin-top: 0;
        }
    }

    #tm-yt,
    #tm-news {
        .box {
            padding: 10px;
            width: 100%;
        }

        iframe,
        img:first-child {
            border-radius: 8px;
            width: 100%;
            height: auto;
            max-width: 100%;
            display: block;
        }
    }

    #tm-yt {
        iframe {
            aspect-ratio: 16/9;
        }
    }

    #tm-news {
        img:first-child {
            aspect-ratio: 5/3;
        }

        h3 {
            margin: 8px 0 8px 1px;
            line-height: 1.4;
        }

        img:last-child {
            max-width: 140px;
            height: auto;
        }
    }
}

@media screen and (width <=400px) {
    .p-tm main {

        #tm-yt,
        #tm-news {
            ul {
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .p-tm main {
        margin: 0 15px;

        #tm-tms {
            div ul {
                column-count: 2;
                column-gap: 15px;
                display: block;
                width: 100%;

                li {
                    display: inline-block;
                    margin-bottom: 15px;
                    min-width: unset;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }

            .back-fwd-ctrl {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .p-tm main #tm-tms div ul {
        column-count: 3;
    }
}

@media screen and (min-width: 1000px) {
    .p-tm main #tm-tms div ul {
        column-count: 4;
    }
}

/*
League of Hegends
*/

.p-loh {
    #loh-intro {
        margin: 18px auto 25px;

        &>img {
            box-shadow: 0 10px 0 rgb(0 0 0 / 0.15);
            height: auto;
        }

        &>p {
            margin: 40px 15px 30px;
            text-align: center;
        }
    }

    .loh-info-popover {
        max-width: 600px;
        padding: clamp(10px, 3%, 25px);

        img {
            margin: 0 auto;
        }

        strong {
            font-size: 14px;
        }

        p:last-child {
            margin-bottom: 0;
        }

        .close {
            right: 8px;
            top: 12px;
            color: var(--black);
        }
    }
}

/* List of hegends */
#loh-list {
    padding: 0 10px;
}

.loh-list {
    a {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    h2 {
        margin: 4px 0 0;
        font-size: 22px;
    }

    time {
        margin: 5px 0 0;
        font-size: 13px;
        display: block;
    }
}

/* Hegend popover */
.loh-hegend {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    img {
        flex-basis: 400px;
        flex-grow: 1;
        border-radius: 8px;
    }

    .info {
        flex-basis: 350px;
        flex-grow: 1;
    }

    p {
        margin: 10px 0;
    }

    h2 {
        margin: 0 0 15px;
        line-height: 1;
        font-size: 28px;
    }

    dl {
        margin: 15px 0 0;

        dt {
            font: bold 14px/1.4 PM;
        }

        dd {
            margin: 0 0 10px 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    button.close {
        right: 3px;
        top: 3px;
        background: var(--white);
        padding: 10px;
        border-radius: 8px;
        color: var(--black);
    }
}

/*
Blog index page
*/

.blog-f {
    text-align: center;
    text-transform: uppercase;
    margin: 50px auto;
    font-size: 13px;

    p {
        margin: 0;
    }

    a {
        color: var(--black);
    }
}

#blog-articles {
    padding: 0 10px;
    margin-top: 30px;
    font-size: 12px;
    line-height: 1.4;

    article {
        a {
            padding: 10px;
            overflow: hidden;
        }

        img {
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: 6px;
            width: 100%;
            height: auto;
            overflow: hidden;
        }

        h2 {
            margin: 0 0 8px;
            font-size: 18px;
            line-height: 1.3;
        }

        p {
            margin: 8px 0;
        }

        p:last-child {
            margin-bottom: 0;
            font-weight: bold;
        }

        .meta {
            text-transform: uppercase;
            flex-flow: row;
            margin-top: 10px;
            margin-bottom: 8px;
            font-size: 11px;
            line-height: 1;
            display: flex;

            span {
                text-align: right;
                flex: 1;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}


/*
Blog entry page
*/

/* Main layout */
.blog-article {
    .h {
        max-width: 670px;
        margin: 100px auto 30px;
        padding: 0 15px;
    }

    .byline-w {
        padding: 8px 0 7px 0;
        background: white;
        box-shadow: 0 -3px 15px rgb(0 0 0 / 0.1);
        border-top: 1px solid rgb(0 0 0 / 0.3);
        border-bottom: 1px solid rgb(0 0 0 / 0.2);
        color: #666;
    }

    .byline {
        max-width: 670px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .c-w {
        background: var(--white);
        margin: 0;
    }

    .c {
        max-width: 670px;
        padding: 15px;
        margin: 0 auto;
        font-size: 13px;
    }
}

.blog-entry-f {
    background: var(--white);
    margin: 0 auto;
    padding: 20px 0 60px;
}

body:has(#blog-entry) footer {
    margin-top: 0;
}

/* Header */
.blog-article .h {
    h1 {
        font-size: 38px;
        line-height: 1.4;
        margin: 0 0 20px;
        text-align: left;
    }

    p {
        font-style: italic;
        line-height: 1.5;
    }

}

.blog-article .byline {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 12px;

    &>* {
        margin: 0;
    }

    em {
        text-transform: lowercase;
    }
}

/* Article body */
.blog-article .c {
    padding-top: 25px;
    background: var(--white);

    &>*:first-child {
        margin-top: 0;
    }

    h2,
    h3,
    h4 {
        font-size: 22px;
        margin: 25px 0 15px;
        line-height: 1.4;
    }

    h3 {
        margin-top: 30px;
        font-size: 18px;
    }

    h4 {
        font-size: 15px;
        margin: 25px 0 8px;
    }

    p {
        margin: 0 0 15px 0;
        line-height: 1.6;
    }


    ul {
        margin: 15px 0;
        padding: 0 25px;
        list-style-type: disc;

        li {
            margin: 0 0 10px;
            padding-left: 5px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    ol {
        margin: 20px 30px 20px 0;
    }

    blockquote {
        margin: 15px 0;
        padding: 10px 20px;
        border-left: 5px solid #e2e2e2;
        font-size: 13px;
        font-style: italic;

        >*:last-child {
            margin-bottom: 0;
        }
    }

    /* Embeds */
    figure.image,
    figure.yt {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        max-width: 100%;
        padding: 15px;
        background: white;
        margin-left: -15px;
        margin-right: auto;
        box-sizing: content-box;

        img {
            width: 100%;
            height: auto;
        }

        iframe {
            width: 100%;
            display: block;
        }

        figcaption {
            font-size: 11px;
            line-height: 1.4;
            color: #666;
            display: block;
            margin: 10px 0 0;
            font-style: italic;
            /* compensate for line height making padding too large */
            margin-bottom: -5px;
            text-align: center;
        }
    }
}

/**
404
*/

body.err-404 {
    main {
        max-width: 480px;
        margin: 80px auto 60px;
        padding: 0 10px;

        .box {
            padding: clamp(10px, 3.75%, 35px);
        }

        video {
            border-radius: 8px;
        }


        h1 {
            margin: 25px 0;
            font-size: 32px;
        }

        p:has(a) {
            margin: 25px 0;
            text-align: center;
            font-weight: bold;
        }
    }
}