<meta charset="utf-8">
{{ if .IsHome }}
<title>HEGE Your Bets</title>
{{ else }}
<title>{{ .Title }} | Hege</title>
{{ end }}

<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

{{ if .IsHome }}
<!-- Optimization: heavily subset home page fonts, and italics not needed here -->
{{ with partial "res.html" "fonts/dgo-home.woff2" }}
<link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ with partial "res.html" "fonts/ibmpm-home.woff2" }}
<link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ with partial "res.html" "fonts/ibmpm-b-home.woff2" }}
<link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ else }}
<!-- Other pages -->
{{ with partial "res.html" "fonts/dgo.woff2" }}
<link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ with partial "res.html" "fonts/ibmpm.woff2" }}
<link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ with partial "res.html" "fonts/ibmpm-b.woff2" }}
<link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ with partial "res.html" "fonts/ibmpm-i.woff2" }}
<link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ with partial "res.html" "fonts/ibmpm-bi.woff2" }}
<link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ end }}

{{ $base := resources.ExecuteAsTemplate "css/base.css" . (resources.Get "css/base.css") }}
{{ if .IsHome }}
{{ $extra := resources.ExecuteAsTemplate "css/home.css" . (resources.Get "css/home.css") }}
{{ if .Site.Params.inline_home_css }}
{{ $css := slice $base $extra | resources.Concat "css/home-bundle.css" | minify }}
<style>{{ $css.Content | safeCSS }}</style>
{{ else }}
{{ $css := partial "r.html" (slice $base $extra | resources.Concat "css/home-bundle.css" | minify) }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{ end }}
{{ else }}
{{ $extra := resources.ExecuteAsTemplate "css/other.css" . (resources.Get "css/other.css") }}
{{ $css := partial "r.html" (slice $base $extra | resources.Concat "css/other-bundle.css" | minify) }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{ end }}

<meta name="author" content="Hege">
{{ if .Params.seo_description }}
<meta name="description" content="{{ .Params.seo_description }}">
{{ else }}
{{ $descr := replace .Summary "\n" " " | plainify | chomp }}
<meta name="description" content="{{ $descr }}">
{{ end }}
<meta property="og:type" content="website">

{{ $og := resources.Get "img/opengraph.jpg" }}
{{ with .Resources.Get "opengraph.jpg" }}
{{ $og = . }}
{{ end }}
{{ with partial "r.html" $og }}
<meta property="og:image" content="{{ .Permalink }}">
{{ end }}

<link rel="alternate" type="application/atom+xml" href="{{ .Site.BaseURL }}blog/index.xml" title="Hegecoin">
<link rel="sitemap" type="application/xml" href="{{ .Site.BaseURL }}sitemap.xml">
<link rel="canonical" href="{{ .Permalink }}">

{{ with partial "res.html" "img/favicon.png" }}
<link rel="icon" type="image/png" sizes="32x32" href="{{ .RelPermalink }}">
{{ end }}
{{ with partial "res.html" "img/apple-touch-icon.png" }}
<link rel="apple-touch-icon" sizes="180x180" href="{{ .RelPermalink }}">
{{ end }}

{{ if .Params.noindex }}
<meta name="robots" content="noindex">
{{ end }}

{{ with partial "res.html" "js/main.js" | minify }}
<script type="text/javascript" src="{{ .RelPermalink }}" async fetchpriority="low"></script>
{{ end }}